<article class="comment-list">
  <div class="comment-info-sec">
    <span><strong>{{comment.name}}</strong></span>
    <span>—</span>
    <span>{{comment.createdAt}}</span>
  </div>
  <div>{{comment.comment}}</div>
</article>
{{yield}}
