<div class="file-uploader">
  <textarea class="form-control" id="inputFile">Drag file to upload</textarea>
  <button type="button" class="btn btndefault"><i class="glyphicon glyphicon-plus"></i> Add File</button>
</div>
{{yield}}
