<form id="fileupload">
  <textarea class="form-control" id="fileupload" placeholder="Drag file to upload"></textarea>
  <span  class="btn btn-default">
    <i class="glyphicon glyphicon-plus"></i>
    <span>Add File</span>
    <input type="file" name="files[]" multiple>
  </span>
</form>
{{yield}}
