@import "bootstrap";
@import "bootstrap/theme";
@import "bootstrap/navbar";
@import "bootstrap/alerts";
@import "bootstrap/buttons";

@import "navbar";
@import "home";
@import "messages";
@import "about";
@import "contact";
@import "post";
@import "new-post";

html, body {
  height: 100%;
  width: 100%;
}

.app-container {
  position:relative;
  height:auto !important;
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.app-content {
  font-family: sans-serif, 'Press Start 2P', 'Cabin Sketch', 'Baloo', 'Indie Flower', 'Gloria Hallelujah', cursive;
  min-height: 100vh;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f4f2f2;
}

.footer {
  left: 0;
  bottom: 0;
  position: absolute;;
	width:100%;
  text-align: center;
  font-size: 12px;
}
