@import "bootstrap";
@import "bootstrap/theme";
@import "bootstrap/navbar";
@import "bootstrap/alerts";
@import "bootstrap/buttons";

@import "navbar";
@import "home";
@import "contact";
@import "post";

.app-content {
  font-family: sans-serif, 'Press Start 2P', 'Cabin Sketch', 'Baloo', 'Indie Flower', 'Gloria Hallelujah', cursive;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f4f2f2;
}
