@import "bootstrap";
@import "bootstrap/theme";
@import "bootstrap/navbar";
@import "bootstrap/alerts";
@import "bootstrap/buttons";

@import "navbar";
@import "home";
@import "contact";

.app-content {
  font-family: 'Open Sans', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f4f2f2;
}
