.comment-list {
  margin-top: 5px;
  background-color: #d0d4db;
  border-radius: 5px;
  // box-shadow: 1px 1px 1px rgba(0,0,0,0.3);

  font-family: cursive,  sans-serif;
  padding: 5px;
  .comment-info-sec {
  }
}
