.upload-form {
  #fileupload {
    padding-top: 5px;
    padding-left: 1px;
    border: none;
    display: none;
  }

  .label-for-file-upload {
    font-size: 14px;
    margin-top: 5px;
    padding-top: 3px;
    background-color: lightgray;
    height: 30px;
  }
}

.upload-progress-container {
  display: none;
  #upload-preview, img {
    width: 50px;
  }
}

#statusMessage {
  padding-top: 10px;
}

.contact {
  font-size: 16px;
  textarea {
    height: 100px;
  }
}
