.upload-form {
  #fileupload {
    padding-top: 5px;
    padding-left: 1px;
    border: none;
    display: none;
  }

  .label-for-file-upload {
    margin-top: 5px;
    padding-top: 3px;
    background-color: lightgray;
    height: 25px;
  }
}

.upload-progress-container {
  display: none;
  #upload-preview, img {
    width: 50px;
  }
}

#statusMessage {
  padding-top: 10px;
}
