.messages {
  padding-top: 10px;

  li.active > a {
    background-color: #d1c3b5;
    color: black;
    cursor: pointer !important;
  }

  li a {
    cursor: pointer;
    color: gray;
  }

  .message{
    cursor: pointer;
    padding: 5px;
    margin-top: 5px;
    background-color: #d1c3b5;
  }
}
