.messages {
  padding-top: 10px;

  .messager-name {
    color: rgb(0, 139, 139);
  }

  .nav {
    background-color: white;

    li > a:hover {
      border: none;
      border-bottom: 3px solid rgba(0, 139, 139, 0.3);
      background-color: none;
    }

    li.active > a {
      border: none;
      border-bottom: 3px solid rgb(0, 139, 139);
      color: black;
      cursor: pointer !important;
    }

    li a {
      cursor: pointer;
      color: gray;
      width: 120px;
      text-align: center;
      .message-count {
        font-size: 10px;
        float: left;
      }
    }
  }

  .message {

    cursor: pointer;
    padding: 5px;
    margin-top: 5px;
    background-color: white;

    .message-image {
      max-height: 200px;
    }

    .message-details {
      font-family: 'Gloria Hallelujah', cursive;
      padding-top: 10px;
      text-align: center;
      .message-text {
        text-align: left;
        padding-left: 50px;
        padding-right: 10px;
      }
    }
  }

  .message-btn-group {
  }
}
