.new-post-form {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;

  input.form-control, button.form-control {
    font-size: 16px;
    height: 40px;
    color: gray;
  }

  .meta {
    margin-bottom: 10px;
  }

  .content {
    height: 420px;
  }
}

.map-container {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 0px;
  height: 400px;

  .map {
    height: 400px;
  }
}

#statusMessage {
  margin-top: 10px;
}
