// @import "post-list";

.post {
  @import 'comment-list';

  padding-top: 20px;
  font-family: 'Baloo', 'Indie Flower', 'Gloria Hallelujah', cursive,  sans-serif;
  .post-info {
    font-size: 16px;
    font-family: 'Cabin Sketch', sans-serif;
  }

  .post-content {
    font-family: cursive,  sans-serif;
    font-size: 18px;
    padding-top: 20px;
  }

  p {
    padding-bottom: 10px;
  }

  p.comments-divider {
    padding-top: 20px;
    border-bottom: 2px solid lightgray;
    padding-bottom: none;
  }

  .post-comments {
    padding-top: 10px;
  }

  .comment-form {
    .comment-input {
      font-family: cursive,  sans-serif;
    }

    button {
      float: right;
    }
  }
}
