<div class="row home">
  <div class="col-md-4 intro">
    <div class="img-container">
      <img src="/bigbuttblog.jpg">
    </div>
    <p>Welcome! I'm Ms.Coding. You will find lots articles from me or other awesome writers about coding and personal financing. Enjoy!</p>
  </div>

  <div class="col-md-8 posts">
    {{post-list posts=model}}
  </div>
</div>
{{outlet}}
