
<div class="about">
  <!-- <h1>About</h1> -->
  <p><strong>MsCoding</strong> is a pace for me to share my programming experience and personal financing philosophy.</p>
  <p>I loves challenges and solving problems. Also I like to share my experience with others. Coding has been my true career passion. I loves it for it is always challenging to solve problems programmatically in a beautiful, yet simple fashion.</p>
  <p>Personal Financing is becoming more and more important nowdays with the Internet and technology. I have met lots of young and not so young people like me, some of them are my good friends, that have no clue or plans for their finance. Most of them hate their jobs, but they cannot leave because they live paycheck by paycheck. Understanding our own finance and manage them rationally is critical to the path of less worry and more secure and happiness.</p>
  <p>No one cares more about your money than yourself. And working for fun instead of for money will significantly improve your productivity and satisfaction.</p>
</div>
