<link href="https://fonts.googleapis.com/css?family=Baloo|Cabin+Sketch|Gloria+Hallelujah|Indie+Flower|Press+Start+2P" rel="stylesheet">

<div class="app-container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{#link-to 'index' class="navbar-brand"}}MsCoding{{/link-to}}
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
          <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
          <li>{{#link-to 'about'}}About{{/link-to}}</li>
          <li>{{#link-to 'messages'}}Messages{{/link-to}}</li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="app-content">
    {{outlet}}
    <footer class="footer">© Ms. Coding. All Rights Reserved.</footer>
  </div>
</div>
